body{
    background-color: var(--bg-color);
}

.container-dashboard{
    display: flex;
}
.content-dashboard{
    width: 100%;
}
.cards-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
}