.container-vendas {
    display: flex;
    min-height: 100vh;
}

.content-vendas {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table-sale table {
    border-collapse: collapse;
    box-shadow: 0 2px 4px 5px gray;
}
.table-sale table thead th{
    background-color: cadetblue;
    padding: 8px;
    color: white;
    text-shadow: 0 2px 3px black;
}
.table-sale table tbody{
    text-align: center;
    background-color: var(--bg-card);
    padding: 10px;
}
.table-sale table th {
    padding: 10px;
}
.table-sale th,
.table-sale td {
    border: none;
    border-bottom: 2px solid gray;
    padding: 16px;
    font-weight: bold;
}
